.sideber
  .sideber__header
    .sideber__header__box
      .sideber__header__box-name
        = current_user.name
      .sideber__header__box-list
        =fa_icon "pencil-square-o"
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

  .groups
    .group
      .group__name 
        sample-group          
      .group__message 
        sample-message  
                
    .group
      .group__name
        sample-group
      .group__message  
        sample-message
        