.sideber
  .sideber__header
    .sideber__header__box
      .sideber__header__box-name
        test-user 
      .sideber__header__box-list
        =fa_icon "pencil-square-o"
        =fa_icon "cog"
  .groups
    .group
      .group__name 
        sample-group          
      .group__message 
        sample-message  
                
    .group
      .group__name
        sample-group
      .group__message  
        sample-message
        